<footer class="text-center text-white py-3 mt-auto container-fluid container-fluid p-0 m-0"
        style="background: linear-gradient(120deg, #0072ff, #00c6ff); margin: 0; padding: 0;">
  <div class="py-3">
    <small>© 2025 Settler | Complaint Management System</small>
  </div>
</footer>