<head>
  <style>
    footer {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background: linear-gradient(120deg, #0072ff, #00c6ff);
  color: white;
  text-align: center;
}
  </style>
</head>
<body>
<footer>
    <div class="py-3">
      <small>© 2025 Settler | Complaint Management System</small>
    </div>
  </footer>
</body>
