body {
      background-color: #f8f9fa;
      overflow-x: hidden;
<<<<<<< HEAD
     
    }
     
.card{
=======
    }
     
    .card {
>>>>>>> a8ef4cbf3021ec50588bb3036ff1bb21705545ce
      border: none;
      border-radius: 16px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    }
.navbar {
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }
   